html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background: url("assets/png/main.png") no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 90vh;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 10px solid #e9f2ff;
    border-radius: 20px;
}